{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Page</title>
</head>
<style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .signup-container {
            display: flex;
            align-items: center; /* Center vertically */
            justify-content: center; /* Center horizontally */
            max-width: 800px; /* Adjust the maximum width as needed */
        }

        .signup-form {
            padding: 20px;
        }
    </style>
<body>
<div class="signup-form">
    <h2 class="form-title">Registration</h2>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger" style="color: red;">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <form action="{% url 'register_page' %}" method="POST" class="register-form" id="register-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name"></label>
            <input type="text" name="first_name" id="first_name" placeholder="First name"/>
        </div>
        <div>
            <label for="last_name"></label>
            <input type="text" name="last_name" id="last_name" placeholder="Last name"/>
        </div>
        <div>
            <label for="username"></label>
            <input type="text" name="username" id="username" placeholder="Username"/>
        </div>
        <div class="form-group">
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Your Email"/>
        </div>
        <div class="form-group">
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Password"/>
        </div>
        <div class="form-group">
            <label for="confirm_password"></label>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Repeat your password"/>
        </div>
        <div class="form-group">
            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>
            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
                statements in <a href="#" class="term-service">Terms of service</a></label>
        </div>
        <div class="form-group form-button">
            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
        </div>
    </form>
</div>
<div class="signup-image">
    <figure><img src="https://colorlib.com/etc/regform/colorlib-regform-7/images/signup-image.jpg"
                 alt="sing up image"></figure>
    <a href="{% url 'login_page' %}" class="signup-image-link">I am already member</a>
</div>

</body>
</html>