<html lang="en">
<head itemscope="" itemtype="http://schema.org/WebSite">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title itemprop="name">Preview bootstrap html snippet. ecommerce products with image description colors and add
        button</title>
    <meta name="description" itemprop="description"
          content="Preview bootstrap html snippet. ecommerce products with image description colors and add button. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="keywords"
          content="html, css, javascript, themes, templates, code snippets, ui examples, react js, react-native, plagraounds, cards, front-end, profile, invoice, back-end, web-designers, web-developers">
    <link itemprop="sameAs" href="https://www.facebook.com/bootdey">
    <link itemprop="sameAs" href="https://twitter.com/bootdey">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="/img/bootdey_favicon.ico">
    <link rel="apple-touch-icon" sizes="135x140" href="/img/bootdey_135x140.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/bootdey_76x76.png">
    <link rel="canonical"
          href="https://bootdey.com/snippets/view/ecommerce-products-with-image-description-colors-and-add-button"
          itemprop="url">
    <meta property="twitter:account_id" content="2433978487">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bootdey">
    <meta name="twitter:creator" content="@bootdey">
    <meta name="twitter:title"
          content="Preview bootstrap html snippet. ecommerce products with image description colors and add button">
    <meta name="twitter:description"
          content="Preview bootstrap html snippet. ecommerce products with image description colors and add button. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="twitter:image" content="https://bootdey.com/files/SnippetsImages/bootstrap-snippets-1418.png">
    <meta name="twitter:url"
          content="https://bootdey.com/snippets/preview/ecommerce-products-with-image-description-colors-and-add-button">
    <meta property="og:title"
          content="Preview bootstrap html snippet. ecommerce products with image description colors and add button">
    <meta property="og:url"
          content="https://bootdey.com/snippets/preview/ecommerce-products-with-image-description-colors-and-add-button">
    <meta property="og:image" content="https://bootdey.com/files/SnippetsImages/bootstrap-snippets-1418.png">
    <meta property="og:description"
          content="Preview bootstrap html snippet. ecommerce products with image description colors and add button. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="msvalidate.01" content="23285BE3183727A550D31CAE95A790AB">
    <script src="/cache-js/cache-1635427806-97135bbb13d92c11d6b2a92f6a36685a.js" type="text/javascript"></script>
</head>
<body>
<div id="snippetContent">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
          integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <h3>
        <a href="{% url 'add_product_page' %}">
            Add Product
        </a>
    </h3>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="table-responsive px-3">
                                        <table class="table table-striped align-middle table-nowrap">
                                            <tbody>
                                            {% for product in products %}
                                                <tr>
                                                    <td>
                                                        <div class="avatar-lg me-4"><img
                                                                src="{{ product.image.url }}"
                                                                class="img-fluid rounded" alt=""></div>
                                                    </td>
                                                    <td>
                                                        <div><h5 class="font-size-18"><a
                                                                href="ecommerce-product-detail.html"
                                                                class="text-dark">{{ product.title }}</a></h5>
                                                            <p class="text-muted mb-0 mt-2 pt-2"><i
                                                                    class="bx bxs-star text-warning"></i> <i
                                                                    class="bx bxs-star text-warning"></i> <i
                                                                    class="bx bxs-star text-warning"></i> <i
                                                                    class="bx bxs-star text-warning"></i> <i
                                                                    class="bx bxs-star-half text-warning"></i></p></div>
                                                    </td>
                                                    <td>
                                                        <ul class="list-unstyled ps-0 mb-0">
                                                            {{ product.description|safe }}
                                                        </ul>
                                                    </td>
                                                    <td style="width: 180px;"><p>Colors :</p>
                                                        <ul class="list-inline mb-0 text-muted product-color">
                                                            <li class="list-inline-item"><i
                                                                    class="mdi mdi-circle font-size-16 text-dark"></i>
                                                            </li>
                                                            <li class="list-inline-item"><i
                                                                    class="mdi mdi-circle font-size-16 text-success"></i>
                                                            </li>
                                                            <li class="list-inline-item"><i
                                                                    class="mdi mdi-circle font-size-16 text-primary"></i>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td style="width: 220px;">
                                                        <h3 class="mb-0 font-size-20"><span
                                                                class="text-muted me-2"></span><b>$450</b>
                                                        </h3>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'delete_product_page' product.id %}"><i
                                                                class="bi bi-trash"></i>Delete</a>
                                                    </td>
                                                    <td>
                                                        <button type="button"
                                                                class="btn btn-primary waves-effect waves-light"><i
                                                                class="bx bx-cart me-2 font-size-15 align-middle"></i>
                                                            Add
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown float-end"><a
                                                                class="text-muted dropdown-toggle font-size-20" href="#"
                                                                role="button" data-bs-toggle="dropdown"
                                                                aria-haspopup="true"> <i
                                                                class="bx bx-dots-horizontal-rounded"></i> </a>
                                                            <div class="dropdown-menu dropdown-menu-end"><a
                                                                    class="dropdown-item" href="#">Edit</a> <a
                                                                    class="dropdown-item" href="#">Action</a> <a
                                                                    class="dropdown-item" href="#">Remove</a></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">/*<![CDATA[*/
    body {
        margin-top: 20px;
        background-color: #f1f3f7;
    }

    .card {
        margin-bottom: 24px;
        -webkit-box-shadow: 0 2px 3px #e4e8f0;
        box-shadow: 0 2px 3px #e4e8f0;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
    }

    .font-size-18 {
        font-size: 18px !important;
    }

    a {
        text-decoration: none !important;
    }

    .text-muted {
        --bs-text-opacity: 1;
        color: #7f838b !important;
    }

    .font-size-20 {
        font-size: 20px !important;
    }

    .font-size-15 {
        font-size: 15px !important;
    }

    /*]]>*/</style>
    <script type="text/javascript"></script>
</div>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-F1RTS0P1CD"></script>
<script>window.dataLayer = window.dataLayer || [];

function gtag() {
    dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'G-F1RTS0P1CD');</script>
</body>
</html>